################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/ProjectSettings.json
/.vs/pwnie-island-hack
/.vs/pwnie-island-hack/FileContentIndex
/.vs/pwnie-island-hack/FileContentIndex/1e6e4699-da1e-488c-a1b3-8026e9db0bb6.vsidx
/.vs/pwnie-island-hack/v17
/.vs/pwnie-island-hack/v17/.wsuo
/.vs/pwnie-island-hack/v17/Browse.VC.db
/.vs/pwnie-island-hack/v17/Browse.VC.db-shm
/.vs/pwnie-island-hack/v17/Browse.VC.db-wal
/.vs/pwnie-island-hack/v17/Browse.VC.opendb
/.vs/pwnie-island-hack/v17/ipch/AutoPCH
/.vs/pwnie-island-hack/v17/ipch/AutoPCH/302d34411e252de7
/.vs/pwnie-island-hack/v17/ipch/AutoPCH/302d34411e252de7/DLLMAIN.ipch
/.vs/pwnie-island-hack/v17/ipch/AutoPCH/4379d780db090106
/.vs/pwnie-island-hack/v17/ipch/AutoPCH/4379d780db090106/SPACEINVADERS.ipch
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.gitignore
/ct/pistol1.PTR
/ct/pistol1.PTR.results.0
/ct/pistol1.PTR.results.10
/ct/pistol1.PTR.results.14
/ct/pistol1.PTR.results.148
/ct/pistol1.PTR.results.20
/ct/pistol1.PTR.results.24
/ct/pistol1.PTR.results.254
/ct/pistol1.PTR.results.30
/ct/pistol1.PTR.results.4
/ct/pistol1.PTR.results.4C
/ct/pistol1.PTR.results.50C
/ct/pistol1.PTR.results.54
/ct/pistol1.PTR.results.5C
/ct/pistol1.PTR.results.8
/ct/pistol1.PTR.results.E0
/ct/pistol1.PTR.results.E4
/ct/pistol1.PTR.results.EC
/ct/pistol2.PTR
/ct/pistol2.PTR.results.0
/ct/pistol2.PTR.results.1
/ct/pistol2.PTR.results.10
/ct/pistol2.PTR.results.11
/ct/pistol2.PTR.results.12
/ct/pistol2.PTR.results.13
/ct/pistol2.PTR.results.14
/ct/pistol2.PTR.results.2
/ct/pistol2.PTR.results.3
/ct/pistol2.PTR.results.4
/ct/pistol2.PTR.results.5
/ct/pistol2.PTR.results.6
/ct/pistol2.PTR.results.7
/ct/pistol2.PTR.results.8
/ct/pistol2.PTR.results.9
/ct/pistol3.PTR
/ct/pistol3.PTR.results.0
/ct/pistol3.PTR.results.1
/ct/pistol3.PTR.results.10
/ct/pistol3.PTR.results.11
/ct/pistol3.PTR.results.12
/ct/pistol3.PTR.results.13
/ct/pistol3.PTR.results.14
/ct/pistol3.PTR.results.2
/ct/pistol3.PTR.results.3
/ct/pistol3.PTR.results.4
/ct/pistol3.PTR.results.5
/ct/pistol3.PTR.results.6
/ct/pistol3.PTR.results.7
/ct/pistol3.PTR.results.8
/ct/pistol3.PTR.results.9
/ct/pistol4.PTR
/ct/pistol4.PTR.results.0
/ct/pistol4.PTR.results.1
/ct/pistol4.PTR.results.10
/ct/pistol4.PTR.results.11
/ct/pistol4.PTR.results.12
/ct/pistol4.PTR.results.13
/ct/pistol4.PTR.results.14
/ct/pistol4.PTR.results.2
/ct/pistol4.PTR.results.3
/ct/pistol4.PTR.results.4
/ct/pistol4.PTR.results.5
/ct/pistol4.PTR.results.6
/ct/pistol4.PTR.results.7
/ct/pistol4.PTR.results.8
/ct/pistol4.PTR.results.9
/ct/pistol5.PTR
/ct/pistol5.PTR.results.0
/ct/pistol5.PTR.results.1
/ct/pistol5.PTR.results.10
/ct/pistol5.PTR.results.11
/ct/pistol5.PTR.results.12
/ct/pistol5.PTR.results.13
/ct/pistol5.PTR.results.14
/ct/pistol5.PTR.results.2
/ct/pistol5.PTR.results.3
/ct/pistol5.PTR.results.4
/ct/pistol5.PTR.results.5
/ct/pistol5.PTR.results.6
/ct/pistol5.PTR.results.7
/ct/pistol5.PTR.results.8
/ct/pistol5.PTR.results.9
